
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Fructa CR S.A</title>
    <link href="~/img/flsf.png" type="image/x-icon" rel="shortcut icon" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>

<body>

    <header>
        <h1><span id="logo"></span>Fructa CR S.A</h1>
    </header>

    <nav>
        <ul>
            <b>
                <li><a href="Login.php">Cerrar Sesión</a></li>
        </ul>
    </nav>

    <section>

        <article class="menu">

            <h2>Menú</h2>


            <form action="Registrar.php" method="post">
                <input type="submit" value="Disposición Producto No Conforme">

            </form>

            <form action="Modificar.php" method="post">
                <input type="submit" value="Distribución Inventario Tanque">

            </form>

            <form action="Consultar.php" method="post">

                <input type="submit" value="Inventario Producto Terminado">

            </form>

            <form action="Eliminar.php" method="post">

                <input type="submit" value="Proceso BP BJC">

            </form>

            <form action="Reportes.php" method="post">

                <input type="submit" value="Proceso Ingreso Piña">

            </form>

            <form action="Administrar.php" method="post">

                <input type="submit" value="Proceso Llenado">

            </form>

            <form action="Administrar.php" method="post">

                <input type="submit" value="Proceso Maduración">

            </form>

            <form action="Administrar.php" method="post">

                <input type="submit" value="Proceso Piña">

            </form>

            <form action="Administrar.php" method="post">

                <input type="submit" value="Producto No Conforme">

            </form>

            <form>

                @Html.ActionLink("Usuario", "Listado", "Usuario", null,
                                              new { @class = "btn btn-primary btn.large" })

            </form>

        </article>

    </section>

    <footer>Fructa CR S.A © 2018</footer>

</body>
</html>
